.bit {
    background: #607d8b;
    color: white;
}

.bit__image {
    height: 13rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.bit-info__game-platform {
    background: white;
    color: black;
}