.radio input[type="radio"] {
    border: 1px solid #ccc;
    border-radius: 50%;
    background: white;
    width: 1rem;
    height: 1rem;
    margin-right: .3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.radio input:checked {
    background: #afdfff;
    border: #6192ee;
}

.radio input:focus {
    outline: none;
}
