.filter-container {
    display: none;
}

.filter-groups {
    display: flex;
    background: #f5f5f5;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.filter-group__title {
    margin-bottom: .7rem;
    font-weight: bold;
}

.filter-group__items {
    list-style: none;
    padding: 0;
}

.open {
    display: block;
}